# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\NEU\CS5610\cs5610-spring-2021-server-node-xiangzhang\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
